<p id="notice"><%= notice %></p>

<h1>Translation Strings</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @translation_strings.each do |translation_string| %>
      <tr>
        <td><%= link_to 'Show', translation_string %></td>
        <td><%= link_to 'Edit', edit_translation_string_path(translation_string) %></td>
        <td><%= link_to 'Destroy', translation_string, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Translation String', new_translation_string_path %>
