<p id="notice"><%= notice %></p>

<h1>Translation Object Groups</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @translation_object_groups.each do |translation_object_group| %>
      <tr>
        <td><%= link_to 'Show', translation_object_group %></td>
        <td><%= link_to 'Edit', edit_translation_object_group_path(translation_object_group) %></td>
        <td><%= link_to 'Destroy', translation_object_group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Translation Object Group', new_translation_object_group_path %>
