<p id="notice"><%= notice %></p>

<h1>Module Discussions</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @module_discussions.each do |module_discussion| %>
      <tr>
        <td><%= link_to 'Show', module_discussion %></td>
        <td><%= link_to 'Edit', edit_module_discussion_path(module_discussion) %></td>
        <td><%= link_to 'Destroy', module_discussion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Module Discussion', new_module_discussion_path %>
