<p id="notice"><%= notice %></p>

<h1>Translation Object Strings</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @translation_object_strings.each do |translation_object_string| %>
      <tr>
        <td><%= link_to 'Show', translation_object_string %></td>
        <td><%= link_to 'Edit', edit_translation_object_string_path(translation_object_string) %></td>
        <td><%= link_to 'Destroy', translation_object_string, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Translation Object String', new_translation_object_string_path %>
