<p id="notice"><%= notice %></p>

<h1>Translation Buckets</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @translation_buckets.each do |translation_bucket| %>
      <tr>
        <td><%= link_to 'Show', translation_bucket %></td>
        <td><%= link_to 'Edit', edit_translation_bucket_path(translation_bucket) %></td>
        <td><%= link_to 'Destroy', translation_bucket, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Translation Bucket', new_translation_bucket_path %>
